{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<body>
     <nav>
        <div class="menu" >
            <img src="{% static 'icons/hamburger menu.svg' %}" alt="" onclick="toggleNavigation()">
        </div>
        <ul>
            <li>
                <a href="">Profile</a>
                <img src="{% static 'icons/dropdownarrowsvg.svg' %}" alt="">
            </li>  
        </ul>
    </nav>
    <div class="contentholder">
        <div class="navigation">
            
            <img class="logo" src="{% static 'icons/Vivin-construction-and-engineering-logo.png' %}" alt="">
            <div class="tabholder">
                {% if request.user.is_admin %}
                <div class="nav-tab" id="dashboard-tab" onclick="toggleActive(this)">
                    <a href="{% url 'dashboard' %}">Dashboard</a>
                </div>
                {% endif %}
                {% if request.user.is_sales_login or request.user.is_admin %}
                <div class="nav-tab" onclick="toggleActive(this)">
                    <a href="{% url 'customerlist' %}">Sales</a>
                </div>
                <div class="nav-tab" onclick="toggleActive(this)">
                    <a href="">Products</a>
                </div>
                {% endif %}
                {% if request.user.is_service_desk or request.user.is_admin %}
                <div class="nav-tab" onclick="toggleActive(this)">
                    <a href="">Service</a>
                </div>
                {% endif %}
                <div class="nav-tab" onclick="toggleActive(this)">
                    <a href=""></a>
                </div>
                <!-- <div class="nav-tab" onclick="toggleActive(this)">
                    <a href="">Accounts</a>
                </div> -->
                {% if request.user.is_admin %}
                <div class="nav-tab" onclick="toggleActive(this)">
                    <a href="">Users</a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="displayboard">
            <div class="whiteboard">
                <div class="alignmentmaker">
                    <h3>Delete Customer {{ customer.customer_name  }}</h3>
                    <p>Are you sure you want to delete cusomer {{ customer.customer_name  }} ?</p>
                    <form  method="post">
                        {% csrf_token %}
                        <button id="delete" type="submit" value="save">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/navigation.js' %}"></script>
    <script src="{% static 'js/active.js' %}"></script>













   
</body>
</html>